{{define "content"}}

<h1>Welcome, Knave</h1>

<p>{{.Knave.Traits}}</p>

<h4>Attributes</h4>

<div>HP: {{.Knave.Hp}}</div>

<table>
  <thead>
    <tr>
      <th>Attr</th>
      <th>Bonus</th>
      <th>Defense</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>STR</td>
      <td>+ {{bonus .Knave.Strength}}</td>
      <td>{{.Knave.Strength}}</td>
    </tr>
    <tr>
      <td>DEX</td>
      <td>+ {{bonus .Knave.Dexterity}}</td>
      <td>{{.Knave.Dexterity}}</td>
    </tr>
    <tr>
      <td>CON</td>
      <td>+ {{bonus .Knave.Constitution}}</td>
      <td>{{.Knave.Constitution}}</td>
    </tr>
    <tr>
      <td>INT</td>
      <td>+ {{bonus .Knave.Intelligence}}</td>
      <td>{{.Knave.Intelligence}}</td>
    </tr>
    <tr>
      <td>CHA</td>
      <td>+ {{bonus .Knave.Charisma}}</td>
      <td>{{.Knave.Charisma}}</td>
    </tr>
    <tr>
      <td>WIS</td>
      <td>+ {{bonus .Knave.Wisdom}}</td>
      <td>{{.Knave.Wisdom}}</td>
    </tr>
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td>Armor</td>
      <td>+ {{bonus .Knave.Armor}}</td>
      <td>{{.Knave.Armor}}</td>
    </tr>
  </tbody>
</table>

<h4>Inventory ({{slots .Knave.Inventory}}/{{.Knave.Constitution}} slots)</h4>
<ul>
  {{range .Knave.Inventory}}
  <li>{{.}}</li>
  {{end}}
</ul>

<p><button id="copy" data-txt="{{.Knave}}">Copy Knave to clipboard</button></p>

<footer>
  <a href="https://github.com/mgmarlow/knave-tools">knave-tools</a> for
  <a href="https://questingbeast.itch.io/knave">Knave</a>, a game by Ben Milton.
</footer>

<script>
  document.getElementById("copy").addEventListener("click", function () {
    navigator.clipboard.writeText(this.dataset.txt);
  });
</script>

{{end}}
